*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    padding: 20px 100px;
}


h2 {
    color: #333;
    font-size: 60px;
    font-weight: 500;
}

span{
    color: #017143;
    font-size: 70px;
    font-weight: 900;
}

p{
    font-size: 16px;
}

button{
     background-color: #017143;
     color: #ffff;
     border: none;
     border-radius: 40px;
     cursor: pointer;
     padding: 8px;
}

.logo {
    width: 80px;
}

.starbucks{
    width: 500px;
}

.botao-menu{
    width: 100PX;
}